main{
    background:linear-gradient(to bottom, #1fd869, #0f9648) ;
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
}

#logo {
    width: 100%;
    text-align: center;
}

.nome{
    margin-top: -80px;
    justify-content: center;
    display: flex;

    && input{
        border: none ;
        letter-spacing: 2px;
        font-size: 1.5em;
        padding: 0 15px;
        height: 45px;
        width: 370px;
        border-radius: 5px;
        font-weight: 600;
    }
}

.começar{
    justify-content: center;
    display: flex;
    padding: 15px;
    
    && button{
    
        padding: 10px;
        width: 120px;
    }
}